*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.whl filter=lfs diff=lfs merge=lfs -text
*.ipynb	diff=jupyternotebook
*.ipynb	merge=jupyternotebook
*.npy filter=lfs diff=lfs merge=lfs -text
*.hdf5 filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
content/data/*.pickle filter=lfs diff=lfs merge=lfs -text
content/data/*.h5 filter=lfs diff=lfs merge=lfs -text
content/data/*.npy filter=lfs diff=lfs merge=lfs -text
content/data/response-evolution-initial-fit.npy filter=lfs diff=lfs merge=lfs -text
