*.{npy,png,jpg,jpeg,hdf5,pickle} filter=lfs diff=lfs merge=lfs -text
content/data/*.pickle filter=lfs diff=lfs merge=lfs -text
content/data/*.h5 filter=lfs diff=lfs merge=lfs -text
content/data/*.npy filter=lfs diff=lfs merge=lfs -text
content/data/response-evolution-initial-fit.npy filter=lfs diff=lfs merge=lfs -text
